.navbar {
	width: 100%;
	height: 55px;
	background-color: #333;
	padding-left: 100px;
	position: fixed;
	z-index: 1;
}

.navbar ul li {
	list-style-type: none;
	display: inline;
}

.navbar ul {
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

.navbar a {
	color: white;
	text-decoration: none;
	padding: 20px;
}

.navbar a:hover {
	background-color: #111;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	padding-top: 200px;
	padding-left: 22%;
}

.login {
	background-color: #595959;
	border: 2px solid black;
	width: 70%;
	height: 500px;
}

.loginwrapper {
	padding-top: 100px;
	padding-left: 30%;
}

.contactwrapper {
	padding-top: 200px;
	padding-left: 10%;
}

.contactme {
	/*background-color: ##ff6600;*/
	/*border: 2px solid black;*/
	width: 90%;
	min-height: 500px;
}

.contactData tbody tr td {
	padding: 7px;
}

.contactData tbody tr:hover {
	background-color: gray;
}

.denyVouch {
	background-color: #990000;
	padding: 3px;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}

.acceptVouch {
	background-color: green;
	padding: 3px;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}

.page {
	text-align: center;
	background-color: #333;
	padding: 10px;
	width: 10px;
	border-radius: 7px;
}
