input[type=text] {
    padding: 5px 5px;
    border: 1px solid #555;
    border-radius: 1px;
    width: 50%;
}
input[type=text]:focus {
    width: 55%;
}
textarea {
    padding: 5px 5px;
    border: 1px solid;
    border-radius: 1px;
    width: 50%;
}
textarea:focus {
    width: 55%;
}
input[type=submit] {
	font-size: 16px;
	width: 50%;
}
input[type=submit]:hover {
	font-size: 18px;
}