body {
	margin: 0;
	padding: 0;
}

#imageText1 {
	position: relative;
	text-align: center;
	padding-top: 490px;
	font-size: 60px;
}

#imageText2 {
	position: relative;
	text-align: center;
	font-size: 30px;
	color: orange;
}

#mainImage {
	background-image: url('http://wallpapercave.com/wp/U6pkgpd.jpg');
	height: 1000px;
	background-repeat: no-repeat;
	z-index: -1;
}

.about {
	width: 100%;
	height: 800px;
	background-color: gray;
}

.about h1 {
	text-align: center;
	margin: 0;
	padding-top: 40px;
}

.about p {
	text-align: center;
	margin: 0;
	padding-top: 15px;
}

.vouchwrapper {
	padding-top: 180px;
	padding-left: 30%;
}

.vouches {
	width: 60%;
	min-height: 600px;
	position: relative;
}

.vouchMsg {
	padding: 30px;
	width: 100%;
}

.vouchMsg td {
	padding-left: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333;
	border-radius: 15px;
}

.page {
	text-align: center;
	background-color: #333;
	padding: 10px;
	width: 10px;
	border-radius: 7px;
}


.project {
	padding: 30px;
	width: 100%;
}

.project td {
	padding-left: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333;
	border-radius: 15px;
}

.stat {
	padding-right: 10%;
	position: relative;
	float: left;
	display: inline-block;
	width: 20%;
}

.statheader {
	background-color: #CCCCCC;
	border: 2px solid #CCCCCC;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 8px;
	font-size: 18px;
}

.statcontainer {
	background-color: white;
	border: 2px solid #CCCCCC;
	padding: 20px;
	font-size: 35px;
}

.statfooter {
	background-color: #CCCCCC;
	border: 2px solid #CCCCCC;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 8px;
	font-size: 18px;
}